#myHeader {
    background-color: #283039;
    color: #FFFFFF;
    padding-top: 0.2%;

}

.logo2 {
    position: relative;
    width: 30%;
    height: 15%;
    left: 5%;
    top: 0.1%;
}
.carteira{
    position: relative;
}
.imgCarteira{
    position: relative;
}